<!DOCTYPE html>
<html>
<head>
    <title>User Dashboard</title>
</head>
<body>
   <!-- dashboard.ejs -->
    <h1>Welcome to Your Dashboard</h1>
    <p>This is your user dashboard.</p>

    <a href="/view-contact">View Contacts</a> <!-- Link to the new "View Contacts" route -->

    <a href="/createContact">Create Contact</a>

    <form action="/logout" method="post">
        <button type="submit">Logout</button>
    </form>

</body>
</html>
